<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9360e5">  <td>17/12/22 12:59:20</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginConnectTest.initTest()[pri:0, instance:Test.LoginConnectTest@59690aa4]">&gt;&gt;initTest</td> 
<td>&nbsp;</td>  <td>main@472654579</td>   <td></td> </tr>
<tr bgcolor="9360e5">  <td>17/12/22 13:00:14</td>   <td>53922</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginConnectTest.testSendMoney()[pri:0, instance:Test.LoginConnectTest@59690aa4]">testSendMoney</td> 
  <td>main@472654579</td>   <td></td> </tr>
<tr bgcolor="9360e5">  <td>17/12/22 13:00:14</td>   <td>53924</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginConnectTest.testMobilePayment()[pri:0, instance:Test.LoginConnectTest@59690aa4]">testMobilePayment</td> 
  <td>main@472654579</td>   <td></td> </tr>
</table>
